<h2>Question: <%= @question.name %></h2>
<h1>Response: <%= @response.content %></h1>

<p><%= link_to "Edit response", edit_question_response_path(@question, @response) %></p>
<p><%= link_to "Delete response", question_response_path(@question, @response),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to question", question_path(@question) %></p>
